/* this rewrite removes dependency on sass or framework driven templates
   in the future it might be nice to use some classes to indicate
   more shared display behaviour  but this is quite slim for now */

html {
    font-size: 14pt;
    background: #02254c;
    color: #e7cf84;
    line-height: 1.4rem;
}

[hidden] { display: none; }

body { font-family: sans-serif;}

h1, h2, h3 { color: #ff7f24; }

a { color: lightskyblue;}x
a:visited { color: gray; }
a:hover, a:active {
    background:  #556b2f;
    color: white;
}



#page-container { margin-bottom: 3rem; }

#index, #header {
    max-width: 800px;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: inline;
}

ol {
    padding: 0;
}
#index-list, .category-menu {
    list-style-type: none;

}

footer ul.menu {
    padding-left: unset;
}

.category-menu {
    display: inline;
    padding-right: 1rem;}

.e-content ol {
    list-style-position: inside;
}



.dateline {
    font-size: 0.9rem;
    color: cyan;
    float: left;
    margin-left: -8rem;
    margin-top: 0.24rem;
    vertical-align: top;

}

.post .container #header { float: right ; margin-left: 1rem; margin-right: 20%; }
.post .container #post-footer {  margin-left:1rem; padding-top: 1rem; margin-right: 2rem;}
#post-footer { display: inline; float: right; }
.post .container article { float: right; display: inline; }
.post .container .dateline { display: none; }

.SHORT-POST #content {
    border: 1px solid orange;
}

.SHORT-POST .p-title { display: none; }
.SHORT-POST #content {
    font-size: 0.7rem;
    padding-top: 1px;
    padding: 0.5rem;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
}

.SHORT-POST img {
    border-radius: 8px;
    margin: 0;

}



.post-attribution  {
    font-size: .7rem;
    display: inline;
    color: grey;

}

.SHORT-POST .post-attribution {
    font-size: .5rem;
}

a > img{ display: inline; border: 2px solid white; border-radius: 8px; filter:brightness(95%);}
a > img:hover { filter: brightness(100%); }

li.post + li.short-post { margin-top: 4rem; }
li.short-post + li.post { margin-top: 4rem; }

.tag-attribution { display: none }

#paginator .menu { margin-top: -7rem; margin-bottom:3rem; float: left; }
#paginator .menu li { display: block;}

@media screen and (max-width:  1400px) {
    #post-footer { display:block; float: none; padding-right:2rem; padding-top: 1rem; }
    .post .container #header { margin-right: 8%; }
}

@media screen and (max-width: 1100px) {
    #index, #header , .SHORT-POST #content { max-width: unset; margin-left: 0.2rem; margin-right: 0.2rem; }
    .post .container #header { float: none; }
    html { font-size: 20pt;}
    body { line-height: 1.3rem; }
    h2, h3 { line-height: 1.6rem; }ve a
    .dateline {display: none; }
    #paginator .menu { margin: unset; float: unset; }
    #paginator .menu li { display: inline ; padding: 0.4rem;}
}


@media screen and (max-width: 660px) {
    html {
        font-size: 24pt;
    }
    body {
        line-height: 140%
    }
    h1{ font-size: 1.3rem; }
    .p-title{ font-size: 1.2rem; }
    h2{ font-size: 1.1rem; }
    h3{ font-size: 1.05rem; }
    #paginator { font-size: 0.8rem; }
}

@media screen and (max-width: 400px) {
    html { font-size: 16pt; }
    body {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        line-height: 120%;
    }

}
